<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ALIP  - Details Test Suite" >
	
	<listeners>
		<listener class-name="com.alip.selenium.util.TestScriptListener"/>	
		
		
	</listeners>
	
  <test name="SetUp Scripts" >
  	<classes>  
    	<class name="com.alip.selenium.pages.tests.initializeStop"/>
   	</classes>  
  </test> <!-- Test -->
  	
  
  <test name="Test WorkFlow" >
  	<classes>
    	<class name="com.alip.selenium.pages.tests.TestWorkflow">
        	<methods>
        	    
      			<include name="DeepDiveProj"/>
      			  		 		
      		</methods>
      	</class> <!--com.alip.selenium.pages.tests.TestWorkflow -->       
      	
   	</classes> 
  </test> <!-- TestWorkFlow -->
  
  
   
  
</suite> <!-- Suite -->
